@using Contacts.ViewModels
@model HomeViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/StyleSheet.css" />
    <title>Index</title>
</head>
<body>
    <div class="header">
        <div class="title"> Contacts </div> 
    </div>
    <div class="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>City</th>
                    <th>Phone numbers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Contacts)
                {
                    <tr>
                        <td>@c.FirstName</td>
                        <td>@c.LastName</td>
                        <td>@c.City</td>
                        <td>@c.PhoneNumbersString</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>   
</body>
</html>
