html, body {
    height: 100%;
}

.header {
    display: flex;
    padding: 1em;
    padding-bottom: 0.5em;
    background: rgb(158, 193, 238);
    /*border-style: solid;
    border-color: red;*/
}

.title {
    font-size: 1.75em;
    font-weight: bold; 
    color: black
    /*background: red;
    border-style: solid;
    border-color: blue;*/
}
a:hover {
    text-decoration: none;
    color: black;
}

.content {
    height: 100%;
    padding: 2em;
    padding-top: 1em;
    background: rgb(188, 210, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-style: solid;
    border-color: green;*/
}

.content table {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75em;
    width: 70%;
}

.content table thead{
    font-size: 1.25em;
}

.content table th {
    padding: 0.5em;
}

.content table td, .content table th {
    padding: 0.5em;
}

.icon {
    width: 1.6em;
    height: 1.9em;
    margin: 2px;
    border-radius: 0.25rem;
    padding: 1px;
}

.label {
    font-size: 1.15em;
    padding-left: 0.75em;
    font-style: oblique;
}

.textBox {
    font-size: 1.25em;
}