html, body {
    height: 100%;
}

.header {
    display: flex;
    padding: 1em;
    padding-bottom: 0.5em;
    background: rgb(158, 193, 238);
    /*border-style: solid;
    border-color: red;*/
}

.title {
    font-size: 1.75em;
    font-weight: bold; 
    /*background: red;
    border-style: solid;
    border-color: blue;*/
}

.content {
    height: 100%;
    padding: 2em;
    padding-top: 1em;
    background: rgb(188, 210, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*border-style: solid;
    border-color: green;*/
}

.content table {
    background-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.75em;
}

table {
    width: 70%;
}

.content table thead{
    font-size: 1.25em;
}

.icon {
    width: 1.6em;
    height: 1.9em;
    margin: 2px;
    border-radius: 0.25rem;
    padding: 1px;
}