html, body {
    height: 100%;
}

.header {
    display: flex;
    padding: 1em;
    padding-bottom: 0.5em;
    background: rgb(158, 193, 238);
    /*border-style: solid;
    border-color: red;*/
}

.title {
    font-size: 1.75em;
    font-weight: bold; 
    color: black
    /*background: red;
    border-style: solid;
    border-color: blue;*/
}
a:hover {
    text-decoration: none;
    color: black;
}

.content {
    min-height: 100%;
    padding: 2em;
    padding-top: 1em;
    background: rgb(188, 210, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-style: solid;
    border-color: green;*/
}

.content table {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75em;
    width: 70%;
}

.content table thead{
    font-size: 1.25em;
}

.content table th {
    padding: 0.5em;
}

.content table td, .content table th {
    padding: 0.5em;
}

.icon {
    width: 1.6em;
    height: 1.9em;
    margin: 2px;
    border-radius: 0.25rem;
    padding: 1px;
}

label {
    font-size: 1.15em;
    padding-left: 0.75em;
    font-style: oblique;
    margin-bottom: 0em;
}

.textBox {
    font-size: 1.25em;
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-container-row a {
    padding-right: 1em;
    align-self: center;
}

.actionButton {
    font-size: 1.25em;
    color: black;
}

.phoneNumber{
    padding-left: 0.75em;
    padding-bottom: 0.25em;
}

.phoneNumber input, .phoneNumber textarea{
    margin-left: 0.75em;
}

button a {
    color: black;
    text-decoration: none;
}

.buttons {
    text-align: end;
}

button, .buttons input {
    font-weight: bold;
    border-radius: 0.25rem;
    background-color: rgb(120, 172, 240);
    border-color: rgb(120, 172, 240);
    font-size: 1rem;
    margin: 0.15rem;
}

.errorMessage {
    font-weight: bold;
    font-size: 1.5em;
    font-style: oblique;
}

/*-----------------------------------*/
/*-------Page pagination-------------*/
/*-----------------------------------*/
.page-item.page-link {
    cursor: pointer;
}

.page-item.page-link.active {
    background-color: dodgerblue;
    color: white;
}

.page-item.page-link.disabled {
    color: grey;
    cursor: context-menu;
}

.pagination {
    margin-bottom: 0.2em;
}

.recordsPerPage label {
    font-size: 0.9em;
}